body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Helvetica, serif ;
}

.headcontainer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 75px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    padding-top: 15px;
    margin-bottom: 50px
}

.header-left {
    font-weight: bold;
    font-size: 32px;
}

.header-right {
    list-style: none;
    display: flex;
}

.headline {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
}

.headsub {
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
}

.headbutton {
    background-color: #3882F6;
    color:white;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    padding: 5px 30px;
}

.subheader {
    justify-content: space-between;
    display: flex;
}
    
button {
    box-shadow: 2px 2px 2px black;
}

ul {
    display: flex;
    gap: 30px
}